*{ -webkit-appearence: none;}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap');
body{
    background-image: url(background.png);
    min-height: 100vh;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    color: goldenrod;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.submit{
    text-align: left;
    font-size: 45px;
    padding: 15px;
}
.submit h1{
    text-align: center;
    padding: 0;
}
.successRegister{
    text-align: left;
    padding: 15px;
    font-size: 30px;
}

.infomation{
    padding:15px;
    font-size: 30px;
}
#s1{
    font-size: 40px;
}
.ticketNumber{
    font-size: 100px;
    padding: 0px;
    margin: 0;
}
.hide{
    display:none;
}
.small{
    font-size: 20px;
}
@media (orientation: portrait){
    .submit{
        font-size: 30px;
    }
    #s1{
        font-size: 25px;
    }
}