*{ -webkit-appearence: none;}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap');body{
    background-image: url(background.png);
    min-height: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    /* background: url(background.png) no-repeat center center fixed; */
    background-size: cover;
    -webkit-background-size: cover;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    color: goldenrod;
    margin: 0;
    padding: 3px;
    overflow-y: scroll;
    overflow-x: clip;
}
.apple{
    display: none;
}
section{
    display: grid;
    place-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header{
    min-height: 10svh;
    /* height: 0%; */
    font-size: 100px;
}
#title{
    font-size: 130px;
}
.text{
    font-size: 60px;
}
.infomationList{
    font-size: 50px;
    display:grid;
}
.infomation{
    place-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-right: 7%;
}
.infomation .hidden{
    width: 100%;
    flex:1 ;
}
.left{
    text-align: right;
    justify-content: right;
    margin-right:10%;
 }
.right{
    text-align: left;
    justify-content: left;
    margin-left:10%;
}

.buy{
    font-size: 100px;
    color: goldenrod;
}
.buy a{
    color: goldenrod;
}


.hidden.b{
    animation: appearb linear;
    animation-timeline: view();
    animation-range: entry 0;
    transition: all 1s;
}
.hidden.a{
    animation: appeara linear;
    animation-timeline: view();
    animation-range: entry 0;
    transition: all 2s;
}

@keyframes appeara{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);

    }
}
@keyframes appearb{
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);

    }
}

@media (orientation: portrait){
    .header{
        font-size: 70px;
    }
    .infomation{
        font-size: 30px;
        /* place-items: center; */
        
    }
    .buy{
        font-size: 90px;;
    }
    #title{
        font-size: 90px;
    }
    a{
        text-align: center;
    }
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    .content{
        display: none;
    }
    .apple{
        display: contents;
    }
  }